.docs-table {
    border-collapse: separate;
}

.docs-table td {
    border-width: 1px 0;
    border-style: solid;
    padding: 10px;
    border-color: rgb(221, 221, 221);
    vertical-align: baseline !important;
}


.docs-table td:first-child {
    border-left-width: 1px;
}

.docs-table td:last-child {
    border-right-width: 1px;
}

.docs-table tbody {
    display: table;
    width: 100%;
    border-spacing: 0 10px;
}