.docs-div-table{
    max-height:320px;
    overflow: auto !important;
}
.docs-table {
    border-collapse: separate !important;
}

.docs-table td {
    border-width: 1px 0 !important;
    border-style: solid !important;
    padding: 10px !important;
    border-color: rgb(221, 221, 221) !important;
    vertical-align: baseline !important;
}


.docs-table td:first-child {
    border-left-width: 1px !important;
}

.docs-table td:last-child {
    border-right-width: 1px !important;
}

.docs-table tbody {
    display: table !important;
    width: 100% !important;
    border-spacing: 0 10px !important;
}